<section arrangeStack arrangeCenter [ngSwitch]="currentState">
  <ng-container *ngSwitchCase="'waiting'">
    <div class="loading-spinner"></div>
  </ng-container>

  <ng-container *ngSwitchCase="'success'">
    <h2>{{ 'auth.activate.success_all_set' | ddxLocale }}</h2>
    <mat-hint [ngStyle]="{ 'margin-top': '10px' }">
      {{ 'auth.activate.success_redirect_message' | ddxLocale }}
    </mat-hint>
  </ng-container>

  <ng-container *ngSwitchCase="'failed'">
    <h2>{{ 'auth.activate.error_error' | ddxLocale }}</h2>
    <mat-error [ngStyle]="{ 'margin-top': '10px' }">
      {{ 'auth.activate.error_message' | ddxLocale }}
    </mat-error>
  </ng-container>
</section>
