@import '../../../../styles.scss';

:host {
  display: flex;
  justify-content: center;

  main {
    // width: 100vw;

    display: flex;
    justify-content: space-evenly;

    form {
      // width: 424px;
      // max-width: 99vw;
      // box-sizing: border-box;

      // display: flex;
      // flex-direction: column;

      h1.title {
        text-align: start;
        padding-bottom: 10px;

        color: $ddx-accent-main;
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: $break-tablet) {
  :host {
    main {
      form {
        margin: 0;

        .description {
          p.message {
            &#message {
              text-align: start;
            }
          }
        }
      }
    }
  }
}
