@import '../../../../styles.scss';

:host {
  display: flex;
  justify-content: center;
  form {
    width: 424px;
    max-width: 99vw;
    // max-width: 424px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    h1.title {
      // width: 75%;
      text-align: start;
      padding-bottom: 10px;

      color: $ddx-accent-main;
      font-weight: bold;
      // border-bottom: 1px solid $ddx-accent-main;
    }

    .mat-divider {
      width: 40%;
      border-top-color: $ddx-accent-main;
    }
  }
}

@media screen and (min-width: $break-tablet) {
  :host {
    // align-items: center;
    form {
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // justify-content: space-evenly;
      margin: 0;

      .description {
        p.message {
          &#message {
            text-align: start;
          }
        }
      }
    }
  }
}
