<form
  arrangeStack
  autocomplete="off"
  [formGroup]="authFormGroup"
  (ngSubmit)="onSubmit()"
  #form
>
  <h1 class="title">{{ 'auth.forgot.title' | ddxLocale }}</h1>
  <hr class="title-seperator" />

  <mat-form-field>
    <mat-label>{{ 'auth.forgot.email' | ddxLocale }}</mat-label>
    <input
      type="email"
      formControlName="email"
      matInput
      name="email"
      id="email"
      placeholder="{{ 'auth.forgot.email_placeholder' | ddxLocale }}"
    />
    <mat-error *ngIf="authFormControls.email.hasError('required')">{{
      'auth.forgot.email_error_required' | ddxLocale
    }}</mat-error>
    <mat-error *ngIf="authFormControls.email.hasError('email')">
      {{ 'auth.forgot.email_error_invalid' | ddxLocale }}
    </mat-error>
  </mat-form-field>

  <div arrangeCenter #recaptcha class="recaptcha-container"></div>

  <pro-button
    color="primary"
    type="submit"
    [disabled]="!isFormValid"
    #submitButton
  >
    {{ 'auth.forgot.reset_button' | ddxLocale }}
  </pro-button>

  <mat-hint
    [ngStyle]="{ 'margin-top': '10px' }"
    *ngIf="!!submittedEmail && submittedEmail.length > 0"
  >
    {{ 'auth.forgot.reset_message' | ddxLocale }} {{ submittedEmail }}.
  </mat-hint>

  <div class="description">
    <p class="footnote captcha"></p>

    <p class="footnote message">
      {{ 'auth.forgot.remember_message' | ddxLocale }}
      <a tabindex="-1" routerLink="/signin">{{
        'auth.forgot.sign_in' | ddxLocale
      }}</a>
    </p>
  </div>
</form>
