@import './typography';
@import './animations';

$input-width: 535px;

form {
  width: 100%;
  max-width: $input-width;
  box-sizing: border-box;

  margin: 0 10px;

  .title__container {
    display: flex;

    h1.title {
      font-weight: lighter;
      width: 100%;
      text-align: left;

      &.active {
        color: $ddx-accent-main;
      }

      b {
        font-weight: bold;
      }
    }
  }

  hr.title-seperator {
    width: 30%;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 20px;
    border: 1px solid $ddx-accent-main;
  }

  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0em;
  }

  .mat-form-field-appearance-outline .mat-form-field-prefix {
    top: 0em;
    margin-right: 3px;
  }

  .mat-form-field-appearance-outline
    .mat-form-field-suffix
    .mat-datepicker-toggle
    .mat-icon-button {
    top: 0.75em;
  }

  .mat-form-field {
    width: 100%;
    font-size: 14px;
  }
}
