@import '../../../../styles.scss';

:host {
  form {
    // width: 100%;
    // max-width: 424px;
    width: 424px;
    max-width: 99vw;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    div.signin-form__container {
      .title__container {
        display: flex;
        margin-bottom: 20px;

        h1.title {
          font-weight: bold;
          width: 30%;
          text-align: start;
          padding-bottom: 10px;

          &:first-child {
            margin-inline-end: 15px;
          }

          &.active {
            color: $ddx-accent-main;
            border-bottom: 1px solid $ddx-accent-main;
          }

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-tablet) {
  :host {
    align-items: center;

    form {
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // justify-content: space-evenly;
      margin: 0;
    }
  }
}
