@import '../../../../styles.scss';

:host {
  main {
    form {
      div.signin-form__container {
        .title__container {
          display: flex;
          margin-bottom: 20px;

          h1.title {
            font-weight: 600;
            width: 32%;
            text-align: start;
            padding-bottom: 10px;

            &:first-child {
              margin-inline-end: 15px;
            }

            &.active {
              color: $ddx-accent-main;
              border-bottom: 1px solid $ddx-accent-main;
            }

            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-narrow-desktop) {
  :host {
    main {
      form {
        padding-top: 13vh;
        margin: 0;
      }
    }
  }
}
