@import '../../../../styles.scss';

$input-width: 535px;

:host {
  form {
    width: 100%;
    max-width: $input-width;
    box-sizing: border-box;

    margin: 100px 10px 0 10px;

    display: flex;
    flex-direction: column;

    div.signin-background__container {
      display: none;
    }

    div.signin-form__container {
      .title__container {
        display: flex;
        margin-bottom: 20px;

        h1.title {
          font-weight: 600;
          width: 100%;
          text-align: start;
          padding-bottom: 10px;

          &.active {
            color: $ddx-accent-main;
            border-bottom: 1px solid $ddx-accent-main;
          }

          a {
            text-decoration: none;
          }

          b {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-tablet) {
  :host {
    align-items: center;

    form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin: 0;
      max-width: 1500px;
      max-height: 357px;

      div.signin-background__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img#background-img {
          object-fit: contain;
          max-height: 693px;
        }

        div.signin-overlay__text {
          position: absolute;
          width: max-content;

          h1 {
            color: $ddx-accent-main;
            padding: 10px 0;
          }

          p {
            padding: 10px 0;
            font-weight: bold;
          }
        }
      }
    }
  }
}
