@import '../../../../styles.scss';

:host {
  width: 100%;

  main {
    width: 100vw;

    display: flex;
    justify-content: space-evenly;

    form {
      h1.title {
        text-align: start;
        padding-bottom: 10px;

        color: $ddx-accent-main;
        font-weight: bold;
      }

      li {
        display: flex;
        font-size: 10px;
        margin: 0 2px;

        transition: cubic-bezier(0.4, 0, 0.2, 1);

        &:before {
          content: '\2022';

          width: 10px;
          height: 10px;

          color: $ddx-light;
          font-size: 20px;
          align-items: center;
          justify-content: center;
        }

        &.approved {
          color: $ddx-green;

          &:before {
            color: $ddx-green;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-tablet) {
  :host {
    main {
      form {
        margin: 0;
      }
    }
  }
}
