<form
  arrangeStack
  autocomplete="off"
  [formGroup]="authFormGroup"
  (ngSubmit)="onSubmit()"
  #form
>
  <h1 class="title">
    <a href="/"><img src="assets/images/logo-white-symbol.svg" alt="logo" /></a>
    {{ 'auth.reset.title' | ddxLocale }}
  </h1>
  <hr class="title-seperator" />

  <mat-form-field appearance="outline">
    <mat-label>{{ 'auth.reset.new_password' | ddxLocale }}</mat-label>
    <input
      [type]="isHidden ? 'password' : 'text'"
      formControlName="newPassword"
      matInput
      name="newPassword"
      id="newPassword"
    />
    <mat-icon matSuffix (click)="toggleHidePassword()">{{
      isHidden ? 'visibility_off' : 'visibility'
    }}</mat-icon>
  </mat-form-field>
  <ul arrangeStack class="password-hints-container">
    <li
      [ngClass]="{
        approved: isAtLeastEightCharacters(
          authFormGroup.controls.newPassword.value
        )
      }"
    >
      {{ 'auth.reset.password_hint_length' | ddxLocale }}
    </li>
    <li
      [ngClass]="{
        approved: hasLower(authFormGroup.controls.newPassword.value)
      }"
    >
      {{ 'auth.reset.password_hint_lower' | ddxLocale }}
    </li>
    <li
      [ngClass]="{
        approved: hasUpper(authFormGroup.controls.newPassword.value)
      }"
    >
      {{ 'auth.reset.password_hint_upper' | ddxLocale }}
    </li>
    <li
      [ngClass]="{
        approved: hasNumber(authFormGroup.controls.newPassword.value)
      }"
    >
      {{ 'auth.reset.password_hint_number' | ddxLocale }}
    </li>
    <li
      [ngClass]="{
        approved: hasSpecial(authFormGroup.controls.newPassword.value)
      }"
    >
      {{ 'auth.reset.password_hint_sign' | ddxLocale }}
    </li>
  </ul>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'auth.reset.confirm_password' | ddxLocale }}</mat-label>
    <input
      [type]="isHidden ? 'password' : 'text'"
      formControlName="confirmPassword"
      matInput
      name="confirm-password"
      id="confirm-password"
    />
    <mat-icon matSuffix (click)="toggleHidePassword()">{{
      isHidden ? 'visibility_off' : 'visibility'
    }}</mat-icon>
    <mat-error *ngIf="authFormControls.confirmPassword.hasError('required')">
      {{ 'auth.reset.confirm_password_error_required' | ddxLocale }}
    </mat-error>
    <mat-error *ngIf="authFormControls.confirmPassword.hasError('mustMatch')">
      {{ 'auth.reset.confirm_password_error_match' | ddxLocale }}
    </mat-error>
  </mat-form-field>

  <div arrangeCenter #recaptcha class="recaptcha-container"></div>

  <pro-button
    color="primary"
    type="submit"
    [disabled]="!authFormGroup.valid"
    #submitButton
  >
    {{ 'auth.reset.reset_button' | ddxLocale }}
  </pro-button>
  <div *ngIf="!!allErrors" class="error-feedback">
    <p *ngFor="let error of allErrors">
      {{ error }}
    </p>
  </div>
</form>
