@import '../../../../styles.scss';

:host {
  width: 100%;

  main {
    width: 100vw;

    display: flex;
    justify-content: space-evenly;

    section.auth-title__wrapper {
      display: none;
    }

    form {
      width: 424px;
      max-width: 99vw;

      h1.title {
        text-align: start;
        padding-bottom: 10px;

        color: $ddx-accent-main;
        font-weight: bold;
      }

      .mat-divider {
        width: 40%;
        border-top-color: $ddx-accent-main;
      }

      li {
        position: relative;
        display: flex;
        font-size: 10px;
        margin: 0 2px;

        transition: cubic-bezier(0.4, 0, 0.2, 1);

        &:before {
          content: '\2022';

          width: 10px;
          height: 10px;

          color: $ddx-light;
          font-size: 20px;
          align-items: center;
          justify-content: center;

          .ltr & {
            left: 0;
          }

          .rtl & {
            right: 0;
          }
        }

        &.approved {
          color: $ddx-green;

          &:before {
            color: $ddx-green;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $break-tablet) {
  :host {
    main {
      section.auth-title__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        min-height: 50vh;
        width: 50%;
        line-height: 24px;

        background-image: url('assets/images/background-rectangles.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        // h1 {
        //   color: $ddx-accent-main;
        //   font-weight: bold;
        //   font-size: 25px;
        //   padding: 10px 0;
        // }

        // p {
        //   font-size: 15px;
        //   padding: 10px 0;

        //   display: flex;
        //   flex-wrap: wrap;
        // }
      }
      form {
        margin: 0;
      }
    }
  }
}
