@import '../../../../../styles.scss';

:host {
  form {
    .password-hints-container {
      max-height: 0;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      margin: 0px 0 10px 0;

      li {
        position: relative;
        display: flex;
        font-size: 10px;
        margin: 0 2px;

        transition: cubic-bezier(0.4, 0, 0.2, 1);

        &:before {
          content: '\2022';

          width: 10px;
          height: 10px;

          color: $ddx-light;
          font-size: 20px;
          align-items: center;
          justify-content: center;
        }

        &.approved {
          color: $ddx-green;

          &:before {
            color: $ddx-green;
          }
        }
      }

      &.show {
        max-height: 100%;
        transition: max-height 1s ease-in;
      }
    }

    ::ng-deep mat-checkbox,
    mat-checkbox {
      margin-bottom: 10px;
      font-size: 12px;

      ::ng-deep .mat-checkbox-label,
      .mat-checkbox-label {
        line-height: 14px;
        white-space: normal;
      }

      ::ng-deep .mat-checkbox-inner-container {
        margin: 0 8px 0 0;
      }

      ::ng-deep .mat-checkbox-layout {
        align-items: unset;
      }

      ::ng-deep .mat-icon,
      .mat-icon {
        font-size: 15px;
        line-height: 15px;
        width: 15px;
        height: 15px;
      }
    }

    .recaptcha-container {
      margin-bottom: 5px;
      height: 78px;
    }

    .forgot-password {
      width: 100%;
      font-weight: lighter;
      text-align: end;

      a,
      a:hover,
      a:active {
        color: $ddx-accent-main;
        text-decoration: none;
        font-weight: normal;
      }
    }

    .description {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      margin-top: 15px;

      p {
        width: 100%;

        color: $ddx-light-darker;
        font-weight: lighter;

        a,
        a:hover,
        a:active {
          color: $ddx-accent-main;
          text-decoration: none;
          font-weight: normal;
        }
      }

      p.captcha {
        text-align: start;
      }

      p.message {
        text-align: start;
      }

      p.forgot-password {
        width: 100%;
        text-align: end;
      }
    }
    .recaptcha-container {
      margin-bottom: 5px;
      height: 78px;
    }
  }
}
