<form
  arrangeStack
  autocomplete="off"
  [formGroup]="authFormGroup"
  (ngSubmit)="onSubmit()"
  #form
>
  <mat-form-field>
    <mat-label>{{ 'auth.signup.email' | ddxLocale }}</mat-label>
    <input
      type="email"
      formControlName="email"
      matInput
      name="email"
      id="email"
      placeholder="{{ 'auth.signup.email_placeholder' | ddxLocale }}"
    />
  </mat-form-field>
  <ng-container *ngIf="authFormGroup.controls.email.dirty">
    <mat-error *ngIf="authFormGroup.controls.email.hasError('required')">{{
      'auth.signup.email_error_required' | ddxLocale
    }}</mat-error>
    <mat-error *ngIf="authFormGroup.controls.email.hasError('email')">
      {{ 'auth.signup.email_error_invalid' | ddxLocale }}
    </mat-error>
  </ng-container>
  <ng-container *ngIf="authFormErrors && authFormErrors.email">
    <mat-error *ngFor="let error of authFormErrors.email">
      {{ error }}
    </mat-error>
  </ng-container>

  <mat-form-field>
    <mat-label>{{ 'auth.signup.password' | ddxLocale }}</mat-label>
    <input
      [type]="isHidden ? 'password' : 'text'"
      formControlName="password"
      matInput
      name="password"
      id="password"
    />
    <mat-icon matSuffix (click)="toggleHidePassword()">{{
      isHidden ? 'visibility_off' : 'visibility'
    }}</mat-icon>
  </mat-form-field>
  <ul
    [ngClass]="{ show: authFormGroup.controls.password.dirty }"
    class="password-hints-container"
  >
    <li
      [ngClass]="{
        approved: isAtLeastEightCharacters(
          authFormGroup.controls.password.value
        )
      }"
    >
      {{ 'auth.signup.password_hint_length' | ddxLocale }}
    </li>
    <li
      [ngClass]="{ approved: hasLower(authFormGroup.controls.password.value) }"
    >
      {{ 'auth.signup.password_hint_lower' | ddxLocale }}
    </li>
    <li
      [ngClass]="{ approved: hasUpper(authFormGroup.controls.password.value) }"
    >
      {{ 'auth.signup.password_hint_upper' | ddxLocale }}
    </li>
    <li
      [ngClass]="{ approved: hasNumber(authFormGroup.controls.password.value) }"
    >
      {{ 'auth.signup.password_hint_number' | ddxLocale }}
    </li>
    <li
      [ngClass]="{
        approved: hasSpecial(authFormGroup.controls.password.value)
      }"
    >
      {{ 'auth.signup.password_hint_sign' | ddxLocale }}
    </li>
  </ul>
  <ng-container *ngIf="authFormErrors && authFormErrors.password">
    <mat-error *ngFor="let error of authFormErrors.password">
      {{ error }}
    </mat-error>
  </ng-container>

  <mat-form-field>
    <mat-label>{{ 'auth.signup.confirm_password' | ddxLocale }}</mat-label>
    <input
      [type]="isHidden ? 'password' : 'text'"
      formControlName="confirmPassword"
      matInput
      name="confirm-password"
      id="confirm-password"
      placeholder="{{ 'auth.signup.confirm_password' | ddxLocale }}"
    />
    <mat-icon matSuffix (click)="toggleHidePassword()">{{
      isHidden ? 'visibility_off' : 'visibility'
    }}</mat-icon>
  </mat-form-field>
  <ng-container *ngIf="authFormGroup.controls.confirmPassword.dirty">
    <mat-error
      *ngIf="authFormGroup.controls.confirmPassword.hasError('required')"
    >
      {{ 'auth.signup.confirm_password_error_required' | ddxLocale }}
    </mat-error>
    <mat-error
      *ngIf="authFormGroup.controls.confirmPassword.hasError('mustMatch')"
    >
      {{ 'auth.signup.confirm_password_error_match' | ddxLocale }}
    </mat-error>
  </ng-container>

  <mat-checkbox
    id="term-acceptance__checkbox"
    formControlName="acceptedTerms"
    required
    #checkbox
  >
    {{ 'auth.signup.terms_check' | ddxLocale }}
    <a href="https://didex.com/terms-service" target="_blank"
      ><mat-icon>launch</mat-icon></a
    >
  </mat-checkbox>

  <div arrangeCenter #recaptcha class="recaptcha-container"></div>
  <input type="hidden" name="token" formControlName="token" value="" />

  <ng-container *ngIf="authFormErrors && authFormErrors.default">
    <mat-error *ngFor="let error of authFormErrors.default">
      {{ error }}
    </mat-error>
  </ng-container>

  <pro-button
    color="primary"
    type="submit"
    [disabled]="!isFormValid"
    #submitButton
  >
    {{ 'auth.signup.next' | ddxLocale }}
  </pro-button>

  <div class="description">
    <p class="footnote captcha">
      {{ 'auth.signup.recaptcha_message_before' | ddxLocale }}
      <a href="https://policies.google.com/privacy" target="_blank">{{
        'auth.signup.recaptcha_message_privacy' | ddxLocale
      }}</a>
      {{ 'auth.signup.recaptcha_message_between' | ddxLocale }}
      <a href="https://policies.google.com/terms" target="_blank">{{
        'auth.signup.recaptcha_message_terms' | ddxLocale
      }}</a>
      {{ 'auth.signup.recaptcha_message_after' | ddxLocale }}
    </p>

    <!-- <p class="footnote message">
      {{ 'auth.signup.not_a_member' | ddxLocale }}
      <a tabindex="-1" routerLink="/signin">{{
        'auth.signup.sign_in' | ddxLocale
      }}</a>
    </p> -->
  </div>
</form>
