<form arrangeStack autocomplete="off" (ngSubmit)="onSubmit()" #form>
  <dropdown-autocomplete-countries
    id="countryTelephoneCode"
    caption="{{ 'kyc.phone_verification.country' | ddxLocale }}"
    desiredValueKey="phoneCode"
  >
  </dropdown-autocomplete-countries>

  <pro-button color="primary" type="submit" #submitButton>
    {{ 'auth.signup.next' | ddxLocale }}
  </pro-button>

  <div class="description">
    <p class="footnote captcha">
      {{ 'auth.signup.recaptcha_message_before' | ddxLocale }}
      <a href="https://policies.google.com/privacy" target="_blank">{{
        'auth.signup.recaptcha_message_privacy' | ddxLocale
      }}</a>
      {{ 'auth.signup.recaptcha_message_between' | ddxLocale }}
      <a href="https://policies.google.com/terms" target="_blank">{{
        'auth.signup.recaptcha_message_terms' | ddxLocale
      }}</a>
      {{ 'auth.signup.recaptcha_message_after' | ddxLocale }}
    </p>
  </div>
</form>
