@import '../../../../../styles.scss';

:host {
  form {
    div.mobile-number__container {
      display: flex;
      justify-content: space-between;

      dropdown-autocomplete-countries#countryTelephoneCode {
        width: 25%;
      }
      mat-form-field#mobileNumber {
        width: 70%;
      }
    }

    #get-code__container {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      span#timer {
        display: flex;
        align-items: center;
        padding-right: 10px;
      }

      button {
        width: 20%;
      }
    }
  }
}
