@import '../../../styles.scss';

:host {
  display: flex;
  // align-items: center;
  justify-content: center;
  // width: 100vw;
  // min-height: 100vh;

  form {
    color: $ddx-light;
    box-sizing: border-box;
    padding: 10px;

    .title {
      display: flex;
      align-items: center;

      // img {
      //   height: 30px;
      //   object-fit: contain;
      //   margin-right: 5px;
      // }

      b {
        margin: 0 5px;
      }
    }

    .description {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      margin-top: 15px;

      p {
        width: 100%;

        color: $ddx-light-darker;
        font-weight: lighter;

        a,
        a:hover,
        a:active {
          color: $ddx-accent-main;
          text-decoration: none;
          font-weight: normal;
        }
      }

      p.captcha {
        text-align: start;
      }

      p.message {
        text-align: center;
      }

      p.forgot-password {
        width: 100%;
        text-align: end;
      }
    }

    .recaptcha-container {
      margin-bottom: 5px;
      height: 78px;
    }

    .forgot-password {
      width: 100%;
      font-weight: lighter;
      text-align: end;

      a,
      a:hover,
      a:active {
        color: $ddx-accent-main;
        text-decoration: none;
        font-weight: normal;
      }
    }

    #term-acceptance__checkbox {
      margin: 40px 0;
    }
  }
}

@media screen and (min-width: $break-narrow-mobile) {
  :host {
    form {
      .description {
        p.captcha {
          display: block;
        }

        p.message {
          text-align: start;
        }
      }
    }
  }
}
