<main class="auth-page__layout">
  <mat-form-field class="locale-selector">
    <mat-select
      disableOptionCentering
      [value]="currentLocaleModel.locale"
      panelClass="locale-selector-panel"
      (valueChange)="handleLocaleChange($event)"
    >
      <mat-option
        style="font-family: IRANSans"
        *ngFor="let item of availableLocales"
        [value]="item.locale"
      >
        {{ item.caption }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="auth-pages__wrapper">
    <div class="auth-pages__inner-container">
      <div class="rectangle-background__container">
        <img
          id="background-img"
          src="assets/images/background-rectangles.svg"
          alt="background image"
        />
      </div>
      <div class="auth-form__wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
