<mat-form-field class="locale-selector">
  <mat-select
    disableOptionCentering
    [value]="currentLocaleModel.locale"
    panelClass="locale-selector-panel"
    (valueChange)="handleLocaleChange($event)"
  >
    <mat-option *ngFor="let item of availableLocales" [value]="item.locale">
      {{ item.caption }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="auth-pages__wrapper">
  <div class="signin-background__container">
    <img
      id="background-img"
      src="assets/images/background-rectangles.svg"
      alt="background image"
    />
    <div class="signin-overlay__text">
      <!-- <h1>{{ 'auth.signin.signin-account' | ddxLocale }}</h1>
    <p>{{ 'auth.signin.signin-buy-crypto' | ddxLocale }}</p> -->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
