<main class="auth-page__layout">
  <nav>
    <a href="https://didex.com/">
      <img
        src="assets/images/logo-white-symbol.svg"
        id="didexLogo"
        alt="didex symbol"
        width="50px"
      />
      <img
        src="assets/images/logo-white-text.svg"
        id="didexLogoText"
        alt="didex text"
      />
    </a>
    <mat-form-field class="locale-selector">
      <mat-select
        disableOptionCentering
        [value]="currentLocaleModel.locale"
        panelClass="locale-selector-panel"
        (valueChange)="handleLocaleChange($event)"
      >
        <mat-option
          style="font-family: IRANSans"
          *ngFor="let item of availableLocales"
          [value]="item.locale"
        >
          {{ item.caption }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </nav>

  <div class="auth-pages__wrapper">
    <div class="auth-pages__inner-container">
      <!-- <section class="rectangle-background__container">
        <img
          id="background-img"
          src="assets/images/background-rectangles.svg"
          alt="background image"
        />
      </section> -->
      <div class="auth-form__wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
