@import '../../../../styles.scss';

:host {
  background: linear-gradient(to top right, #000a33, #001044);
  min-height: 100vh;

  body {
    .mat-select-panel {
      &.locale-selector-panel {
        transform: none !important;
        margin-top: 30px !important;

        .mat-option {
          text-align: center;
          &:last-child {
            font-family: IRANSans;
          }
        }
      }
    }
  }

  .mat-select-panel .mat-option {
    font-family: IRANSans;

    &.locale-selector-panel {
      .mat-option {
        &:last-child {
          font-family: IRANSans;
        }
      }
    }
  }

  .locale-selector {
    position: fixed;
    top: 0px;
    right: 10px;

    z-index: 10;
  }

  ::ng-deep .auth-pages__wrapper {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    div.auth-pages__inner-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;

      margin-top: 80px;
      width: 100%;
      div.rectangle-background__container {
        display: none;
      }

      div.auth-form__wrapper {
        // width: 100%;
      }
    }
  }
}

@media screen and (min-width: $break-tablet) {
  :host {
    ::ng-deep .auth-pages__wrapper {
      align-items: center;
      div.auth-pages__inner-container {
        margin-top: 0;
        div.rectangle-background__container {
          display: block;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}
