@import '../../../../styles.scss';

:host {
  background: linear-gradient(to top right, #000a33, #001044);
  min-height: 100vh;

  .locale-selector {
    position: fixed;
    top: 0px;
    right: 10px;

    z-index: 10;
  }

  ::ng-deep .auth-pages__wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    div.rectangle-background__container {
      display: none;
    }

    div.auth-form__wrapper {
      // width: 100%;
    }
  }
}

@media screen and (min-width: $break-tablet) {
  :host {
    ::ng-deep .auth-pages__wrapper {
      div.rectangle-background__container {
        display: block;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}
