<main>
  <section class="auth-title__wrapper">
    <div class="auth-title__inner-wrapper">
      <h1>{{ 'auth.signup.signup_account' | ddxLocale }}</h1>
      <p>{{ 'auth.signup.signup_buy_crypto' | ddxLocale }}</p>
    </div>
  </section>

  <div class="signup_wrapper">
    <div class="title__container">
      <h1 class="title">
        <a routerLink="/signin">
          {{ 'auth.signin.title' | ddxLocale }}
        </a>
      </h1>
      <h1 class="title active">
        {{ 'auth.signup.title' | ddxLocale }}
      </h1>
    </div>
    <router-outlet></router-outlet>
  </div>
</main>
